.hero-list {
  max-width: 680px;
  margin: 100px auto;
  padding: 0 120px;
}

.hero-list article {
  background: #333;
  border: 2px outset #DDD;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;

}

.hero-list p {
  color: #FFF;
  justify-content: right;
  margin-bottom: 5px;
  font-weight: bold;
}

#name {
  color: #ff5050;
  display: flex;
  justify-content: center;
  text-decoration: underline;
  margin-bottom: 10px;
}
